# コミットごとにチェックを行う。
name: check

on:
  workflow_dispatch:
  push:
    branches: master
  pull_request:

permissions:
  contents: read # リポジトリコンテンツの読み取り

jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            accept-flake-config = true
      - uses: cachix/cachix-action@v16
        with:
          name: git-hooks
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix flake check
